@font-face {
    font-family: 'NorseBold';
    src: url('https://cdn.statically.io/gh/TheOdinProject/theodinproject/efdc2888072f409e687d31dc580595dbe4fe0ff4/app/assets/fonts/Norse-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* {
    outline: 2px solid yellow;
}*/


html, body {
    height: 100%; /* Ensure the body and html take up full height */
    margin: 0; /* Remove default margins */
    background-color: black;
}

section {
    display: flex; /* Set flexbox layout */
    flex-direction: row; /* Side-by-side layout */
    height: 100vh; /* Full viewport height */
    width: 60%; /* Set section width to 60% of the viewport */
    margin: 0 auto; /* Center the section horizontally */
}

.right_side, .left_side {
    height: 100%; /* Ensure full height for both sides */
}

.right_side {
    flex: 2;
    background-color: lightgrey;
    background-image: url('images/background_image.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    position: relative;
    box-sizing: border-box;
}

.left_side {
    flex: 3;
    background-color: lightgrey;
}

.transparent_div {
    width: 100%; /* Same width as right_side */
    background-color: rgba(0, 0, 0, 0.7); /* Dark semi-transparent background */
    padding: 10px;
    box-sizing: border-box; /* Ensure padding is inside the width */
    margin-top: 25vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.transparent_div img {
    width: 60px;
    height: auto;
    margin-right: 0px;
}

.transparent_div span {
    color: white;
    margin: 0;
    font-size: 4em;
    font-family: 'NorseBold', sans-serif; /* Apply the custom font */
}